@font-face {
  font-family: 'robotoregular';
  src: url('../public/fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('../public/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}